/* class-selector */
.sign-up-container{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* type-selector  */
h1{
  font-size: 40px;
}
/* id-selector */
#sign-in-text{
font-weight: bold;
margin: 0px;
}
.what-is-this-container>.what-is-this-link{
font-size: 20px;
font-weight: bold;
}
/* descendant-selector */
.email-input-container input{
    padding-left: 20px;
    width: 220px;
    height: 20px;
    margin-top: 20px;
    outline: none;
}
.password-input{
    padding-left: 20px;
    width: 220px;
    height: 20px;
    margin: 20px 0px 10px 0px;
    outline: none;
}
.sign-in-btn{
    width: 245px;
    background-color: rgb(81, 81, 235);
    height: 30px;
    color: white;
    margin: 10px 0px 10px 0px;
}
.sign-in-btn:hover{
    background-color: rgb(183, 17, 224);
    cursor: pointer;
}
.sign-in-btn:active{
    background-color: black;
}
.sign-in-btn:focus{
    background-color: cadetblue;
}
.no-account{
    display: inline;
}
.forgot-password-container{
margin: 10px 0px 10px 0px;
}
.terms-link{
  margin-right: 20px;
}